body {
 
  background-image: url("components/images/tvset.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: contain, cover;

}


