.link{
    color: #F9D780;
    height: 4rem;
    font-size: 24px;
}
.item{
    height: 3.5rem;
}
.navi{
    background-color: #93B1AF;
    opacity: .95;
    height: 4rem;
    border-bottom: none;
}





